.headercontainer {
    display: grid;
    background-color: rgb(34, 107, 83);
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "hbrand hbrand"
    "hnav htools";
    margin-bottom: 0.5em;
}

.hbrand{
    grid-area: hbrand;
    text-align: center;
}

.hnav{
    grid-area: hnav;
    text-align: left;
}

.htools{
    grid-area: htools;
    text-align: right;
}

@media (min-width:576px){
    .headercontainer {
        grid-template-columns: 35% 35% 30%;
        grid-template-areas: 
        "hbrand hnav htools";
        margin-bottom: 0.5em;
    }
}

@media (min-width:992px){
    .headercontainer {
        grid-template-columns: 35% 35% 30%;
        grid-template-areas: 
        "hbrand hnav htools";
        margin-bottom: 0.5em;
    }
}

.herocontainer {
    display: grid;
    background-color: rgb(34, 107, 83);
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "herocall herocall";
    margin-bottom: 0.5em;
 }

.herofeat{
    grid-area: herofeat;
    display: none;
}

.herocall{
    grid-area: herocall;
}

@media (min-width:576px){
    .herocontainer {
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "herofeat herofeat"
        "herocall herocall";
        margin-bottom: 0.5em;
    }

    .herofeat {
        display: block;
    }
}

@media (min-width:992px){
    .herocontainer {
        grid-template-columns: 40% 40%;
        grid-template-areas: 
        "herofeat herofeat"
        "herocall herocall";
        margin-bottom: 0.5em;
    }

    .herofeat {
        display: block;
    }
}

.mainad {
    display: none
 }

 .bodycontainer {
    display: grid;
    background-color: rgb(34, 107, 83);
    width: 100%;
    grid-template-columns: 100%;
    grid-template-areas: 
    "bodyfeat"
    "bodyad"
    "bodylist";
    margin-bottom: 0.5em;
 }

 .bodyfeat{
    grid-area: bodyfeat;
}

.bodylist{
    grid-area: bodylist;
}

.bodyad{
    grid-area: bodyad;
}


@media (min-width:576px){
    .bodycontainer {
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "bodyfeat bodyad"
        "bodylist bodylist";
        margin-bottom: 0.5em;
    }
}

.sidebar {
    display: none;
    background-color: rgb(34, 107, 83);
    text-align: center;
 }

 @media (min-width:576px){
    .sidebar {
        display:block;
        margin-bottom: 0.5em;
    }
}

.footer {
    width: 100%;
    background-color: rgb(34, 107, 83);
    text-align: right;
}