.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 15vh);
    gap: 5px;
    grid-template-areas:
        "header"
        "hero"
        "ad"
        "body"
        "sidebar"
        "footer";
}

@media (min-width: 576px) {
    .container {
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: repeat(6, 15vh);
        grid-template-areas:
            "header header"
            "hero ad"
            "body ad"
            "sidebar sidebar"
            "footer footer";
    }
}

@media (min-width: 992px) {
    .container {
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: repeat(6, 15vh);
        grid-template-areas:
            "header header"
            "hero ad"
            "body sidebar"
            "footer footer";
    }
}

.child {
    background-color: paleturquoise;
}


.header {
    grid-area: header;
}

.hero {
    grid-area: hero;
}
.ad {
    grid-area: ad;
}
.body {
    grid-area: body;
}

.sidebar {
    grid-area: sidebar;
}
.footer {
    grid-area: footer;
}